body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 44, 58);
    padding-top: 75px;
}
section{
    min-height: 290px;
}
.descriptions{
    box-shadow: 5px 5px 50px rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
    padding: 0 40px;
    margin: 50px;
}
img{
    width: 50px;
}
a{
    text-decoration: none;
    color: rgb(0, 44, 58);
}
input:hover{
    color: rgb(0, 111, 148);
    transition: 0.3s;
}
h1{
    margin-left: 40px;
}
input{
    border: none;
    font-weight: 600;
    color: rgb(0, 44, 58);
    font-size: 22px;
    cursor: pointer;
}